streamlit
pandas              # For handling data frames (leaderboards, data storage)
pillow              # For image processing (resizing images, etc.)
numpy               # For numerical operations
opencv-python-headless  # For image processing (use headless for servers)
bcrypt